@import "@configs/design/settings/colors.scss";
@import "@configs/design/tools/media-queries.scss";

.header {
  background: $light;
  box-shadow: 0 0 4px rgba(0, 0, 0, .2);
  display: flex;
  height: 3rem;
  justify-content: center;
  position: relative;

  @include large-screen {
    justify-content: flex-start;
  }

  &__title {
    align-items: center;
    display: flex;
    font-size: 1.5rem;
    height: 100%;
    margin: 0;

    @include large-screen {
      padding: 0 20px;
    }
  }

  &__link {
    color: currentColor;
    text-decoration: none;
  }
}
