@import "@configs/design/settings/colors.scss";

.header {
  background: $light;
  display: flex;
  height: 3rem;
  justify-content: center;

  &__title {
    align-items: center;
    display: flex;
    font-size: 1.5rem;
    height: 100%;
    margin: 0;
  }
}
