@import "@configs/design/settings/colors.scss";

.header {
  background: $light;
  box-shadow: 0 0 4px rgba(0, 0, 0, .2);
  display: flex;
  height: 3rem;
  justify-content: center;
  position: relative;

  &__title {
    align-items: center;
    display: flex;
    font-size: 1.5rem;
    height: 100%;
    margin: 0;
  }
}
